# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# UI/UX Assets and API Docs
src/assets/createCharacterPageUiUx/**
src/assets/ExportBlock-1eb88514-309f-46de-a809-776cd1f2e052-Part-1/**
src/assets/logRoomPages/**
